.contact-content {
	background-color: #ccc;
	padding-top: 10px;
	padding-bottom: 10px;

	.main_body {
		background-color:#FFF;
		color: #000;
		width: 100%;
		height:700px;
		margin: auto;
		border: 1px solid black;

		h1 {
			margin-left:50px; 
		}
		p {
			margin-left:70px; 
		}

		#container{
            width: 100%;
            height: 450px;
        }
	}
}
	
	 