.category {
	border: 1px solid #dfdfdf;

	.category-item-hd{
	    padding: 0 20px;
	    overflow: hidden;
	    height: 30px;
	    line-height: 30px;

	    h4 {
		    font-size: 16px;
		    font-family: 'Microsoft Yahei';
		    font-weight: bolder;
	    }
	}

	.category-item {
	    margin-top: 5px;
	    padding: 0 14px;
	    position: relative;
	    height: 88px;
	    overflow: hidden;

	    ul {
	    	overflow: hidden;

	    	li {
    		    float: left;
			    cursor: pointer;
			    height: 24px;
			    line-height: 24px;
			    margin-bottom: 4px;
			    text-align: left;
			    border-radius: 3px;
			    position: relative;
			    margin-right: 4px;

			    .tips {
		    	    padding: 0 6px;
				    display: inline-block;
				    font-size: 12px;
				    white-space: nowrap;
				    color: #000;
				    text-decoration: none;
				    font-family: 'Microsoft Yahei';

				    &:hover, &:focus {
				    	color: #5b9fff;
				    }
			    }
	    	}
	    }
	}
}