*{
 		 margin:0;
 		 padding:0;
		}
		.titleBody{
			width: 1030px;
			height: 500px;
			background-color: #fff;
			margin: 0 auto;
			margin-top: 40px;
			position: relative;
		}
		.logoImg{
			margin-top: 50px;
			margin-left: 100px;
		}
		.loginFrame{
			height: 328px;
			width: 310px;
			border: 1px solid #dcdcdc;
			position: relative;
			top: -330px;
			left: 600px;
			overflow:auto;
		}
		.loginFrame div{
			
		}
		.loginName{
			width: 100%;
			height: 48px;
			border: 1px solid #dcdcdc;
		}
		.loginContext{
			width: 100%;
			height: 100px;
		}
		.loginAssist{
			width: 100%;
			height:56px;
		}
		.toLogin{
			margin-top: 15px;
			width: 100%;
			height: 38px;
		}
		.loginName p{
			font-family: 微软雅黑;
			font-size: 16px;
			color: #5b5b5b;
			margin-top: 10px;
			margin-left: 20px;
		}
		.loginContext span{
			font-size: 16px;
			color:#fff;
			width: 38px;
			height: 38px;
			text-align: center;
			padding-top:10px; 
			background-color: #ccc;	
		}
		.loginContext .account{
			margin-top: 35px;
			margin-left: 30px;
			height: 38px;
		}
		.loginContext .account input{
			font-size: 12px;
			font-family: 微软雅黑;
			width: 212px;
			height: 38px;
			border: 1px solid #dcdcdc;
		}
		.password{
			margin-top: 22px;
			margin-left: 30px;

		}
		.loginContext .password input{
			font-size: 14px;
			font-family: 微软雅黑;
			width: 212px;
			height: 38px;
			border-left: 0px;
			border-top: 1px;
			border: 1px solid #dcdcdc;
		}
		.loginAssist a{
			font-family: 微软雅黑;
			font-size: 12px;
			position: relative;
			text-decoration:none; color:#b5b5b5
		}
		.loginAssist .forgetPassword{
			position: relative;
			top: 20px;
			left: 30px;

		}
		.loginAssist .forgetAccount{
			position: relative;
			top: 20px;
			left: 40px;
		}
		.loginAssist .forgetAccount{
			position: relative;
			top: 20px;
			left: 40px;
		}
		.register{
			position: relative;
			top: 20px;
			left: 125px;
		}
		.tologinButton{
		  line-height:38px;
		  height:38px;
		  width:250px;
		  color:#ffffff;
		  background-color:#4a8cf7;
		  font-size:18px;
		  font-weight:normal;
		  font-family:Microsoft YaHei;
		  border:0px solid #dcdcdc;
		  -webkit-border-top-left-radius:4px;
		  -moz-border-radius-topleft:4px;
		  border-top-left-radius:4px;
		  -webkit-border-top-right-radius:4px;
		  -moz-border-radius-topright:4px;
		  border-top-right-radius:4px;
		  -webkit-border-bottom-left-radius:4px;
		  -moz-border-radius-bottomleft:4px;
		  border-bottom-left-radius:4px;
		  -webkit-border-bottom-right-radius:4px;
		  -moz-border-radius-bottomright:4px;
		  border-bottom-right-radius:4px;
		  -moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
		  -webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
		  box-shadow: inset 0px 0px 0px 0px #ffffff;
		  text-align:center;
		  display:inline-block;
		  text-decoration:none;
		  margin-left: 30px;
}
.tologinButton:hover{
  background-color:#4a8cf7;
}
.loginAssist a:hover{
	color: #018fd6;
}