.modalLog{
    .modal-content{
        width: 350px;
        margin: auto;
        .accountName{
            position: relative;
            margin-bottom: 20px;
            .glyphicon{
                position: absolute;
                top: 6px;
                font-size: 20px;
                left: 5px;
            }
            .hengxin-login-input{
                padding-left: 28px;
            }

        }
        .passwordName{
            position: relative;
            .glyphicon{
                position: absolute;
                top: 6px;
                font-size: 20px;
                left: 5px;
            }
            .hengxin-login-input{
                padding-left: 28px;
            }
            margin-bottom: 20px;
        }
    }
}