@import './Pic.scss';

.caption{
	padding: 9px 9px 6px 9px;

	.price {
		color: #F40;
	    font-size: 14px;
	    float: left;
	}

	.no {
	    text-overflow: ellipsis;
    	overflow: hidden;
    	white-space: nowrap;
	    position: absolute;
	    width: 174px;
	    bottom: 101px;
	    left: 9px;
	    color: #fff;
	    text-align: center;
	}
	.backgrounds{
		width: 174px;
		height: 20px;
	    position: absolute;
	    width: 174px;
	    left: 9px;
	    bottom: 101px;
		background-color:#000;
	    opacity: 0.7;
	}
	.stock{
		font-size: 14px;
		margin-left:-6px;
	    width: 170px;
        text-overflow: ellipsis;
    	overflow: hidden;
    	white-space: nowrap;
	}
	.pic-info {
		height: 24px;
	    font-size: 12px;
	    color: #555;
	    overflow: hidden;
	
	    .stock, .ingredient {
	    	height: 17px;
	    	overflow: hidden; 
	    	font-size: 12px;
	    }
	}

	.buttons {
	  
		.btn {
			background-image: none;
			padding: 3px 6px;
		}
		.bottons1{
			background-color:#fff;
			color:#265a88;
			border:0px;
			margin-right:40px;	
		}
		.bottons2{
			background-color:#fff;
			color:#265a88;
			border:0px;

		}
	}
}
.pic {
	position: relative;
	.borders{
		border: 1px solid #ddd;
		margin-top: 10px;
		.thumbnail{
			margin-top: 3px;
			margin-bottom: 3px;
			border: 0px
		}

		img{
			min-height: 131px;
		}
		.caption{

		}
	}
	
}