.modalReg{
    .modal-content{
        width: 350px;
        margin: auto;
        .dropdown{
            margin-bottom: 20px;
            .findType{
        	    font-size: 12px;
    			width: 100px;
            }
        }
        .findTel{
        	position: relative;
        	margin-bottom:20px;
        	.glyphicon{
                position: absolute;
                top: 6px;
                font-size: 20px;
                left: 5px;
            }
            .hengxin-login-input{
                padding-left: 28px;
            }
        }
        .findPwd{
        	position: relative;
        	margin-bottom:20px;
        	.glyphicon{
                position: absolute;
                top: 6px;
                font-size: 20px;
                left: 5px;

            }
            .hengxin-login-input{
                padding-left: 28px;
            }
        }
        .findReg{
        	position: relative;
        	margin-bottom:20px;
        	.glyphicon{
                position: absolute;
                top: 6px;
                font-size: 20px;
                left: 5px;
                z-index: 9;
            }
            .hengxin-login-input{
                padding-left: 28px;
            }
        }
        .input-group{
    	    margin-bottom: 20px;
    	    .hengxin-btn-regCode{
    			margin-left: 20px;
    	    }
        }
			
    }
}