.reg {
	margin-top: 30px;
	font-family: 微软雅黑;

	.reg-content{
		position: relative;
		margin-top: 50px;
		margin-bottom: 80px;

		.left {
			text-align: center;

			img {
				margin-left: -442px;
			}
		}

		.right {
			position: absolute;
		    top: 0;
		    padding: 25px;
		    background-color: #fff;
		    border: 1px solid #ccc;
		    right: 10%	;

		    .title {
		    	margin-top: -20px;
			    margin-left: -25px;
			    margin-right: -25px;
			    padding: 6px 25px;
			    border-bottom: 1px solid #ccc;
			    margin-bottom: 20px;
		    }

		    .form-horizontal {
		    	width: 300px;

		    	.dropdown {
		    		width: 100%;
    				margin-bottom: 20px;

    				.dropdown-menu {
    					width: 100%;

    					li>a {
    						padding: 9px 20px;
    					}
    				}
		    	}

		    	.tswq-input-group {
		    		position: relative;
		    		padding-bottom: 20px;
		    	}

		    	.hengxin-icon {
		    		position: absolute;
				    line-height: 38px;
				    padding: 0 12px;
				    z-index: 10;
		    	}

		    	.hengxin-login-input {
		    		padding-left: 30px;
		    		height: 40px;
		    	}

		    	.hengxin-login-btn {
		    		margin-top: 20px;
		    	}

		    	.hengxin-btn-regCode {
		    		height: 40px;
		    	}

		    	.btn {		    		
		    		background-image: none;		    		
	    		}
		    }
		}
	}
}