.index-content {
	.index-nav{
		margin-top: 20px;
		height: 35px;
		border-bottom: 2px solid #3388ff;

		@mixin active {
			color: #5b9fff;
		    background-color: #fff;
		    font-weight: 700;
		}

		.index-nav-container {
			padding: 0;
		}

		.nav-item {
			border-right: 1px solid #e0e0e0;
		    height: 16px;
		    line-height: 16px;

			a {
				padding: 0 29px;
			    font-size: 16px;
			    font-family: 'Microsoft Yahei';
			    color: #000;

			    &:hover, &:focus{
					@include active;
				}
			}

			&:last-child {
				border-right: 0;
			}
		}

		.nav-item.active>a{
			@include active;

			&:hover, &:focus{
				@include active;
			}
		}
	}

	.index-container {
		padding: 0;

		.category-list {			
		    margin-top: 20px;
		    margin-bottom: 10px;
		}

		.index-content-pic-list {
			margin-top: 16px;
			margin-bottom: 10px;
		}
	}
}