.dress-model {
	.model-title {
	    font-size: 14px;
	    color: #666;
	    font-weight: 400;
	    text-align: center;
	    background: url('../../images/avatar/vertical_middle.png') repeat-x 0 center;
	    margin: 20px -3px 10px -3px;
	    padding: 0;

	    span {
		    height: 15px;
		    line-height: 15px;
		    background: #fff;
		    color: #888;
		    padding: 0 15px;
		    font-size: 16px;
		}
	}

	@mixin active_model {
		border: 3px solid #3388FB;
	}

	.thumbnail {
		margin-bottom: 0;
	    padding: 0;
	    border-radius: 0;
	    padding-top: 2px;
	    text-align: center;
	    border: 3px solid transparent;

	    img {
		    max-height: 90px;
		}

		&:hover, &:focus {
			@include active_model;	
		}
	}

	.thumbnail.active {
		@include active_model;
	}
}